*:focus, *:focus-within {
  outline: 0 !important;
  box-shadow: none !important;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #313131;
}

*::-webkit-scrollbar-thumb {
  background: #965cff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a371ff;
}

h1 {
  font-size: 6.25rem;
  margin-bottom: 10px;
  margin-top: 0;
  margin: 0 0 1.25rem 0;
}

h2 {
  font-size: 3.75rem;
  margin-bottom: 10px;
  margin-top: 0;
  margin: 0 0 1.25rem 0;
}

h3 {
  font-size: 1.875rem;
  margin: 0;
  line-height: 1.7;
  margin: 0 0 1.125rem 0;
}

h4 {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
  line-height: 1.7;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Poppins", sans-serif;
  color: #e5e5e5;
}
body a {
  color: #e5e5e5;
  text-decoration: none;
  font-weight: 600;
}
body .dropdown_fixo {
  position: absolute;
  top: 1vw;
  right: 1vw;
  z-index: 2;
}
body .dropdown_fixo .dropdown .btn-link {
  color: #ffffff65;
  backdrop-filter: blur(5px);
  text-decoration: none !important;
}
body .dropdown_fixo .dropdown .btn-link span {
  margin-right: 0.5vw;
}
body .dropdown_fixo ul.dropdown-menu.show span.flag-icon {
  margin-right: 0.5vw;
}
body .menu {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 999;
}
body .menu button {
  display: flex;
  align-items: center;
}
body .menu button.active_menu {
  box-shadow: 0 0 5px 0 #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, calc(100% - 1px));
  border: none;
  background: #fff;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
body .menu button.active_menu span.arrow_down {
  font-weight: 700;
}
body .menu .content_menu {
  width: max-content;
  height: 0;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: 400ms;
}
body .menu .content_menu menu {
  display: flex;
  padding: 0.5rem 1rem 0.6rem;
  height: 5.2rem;
  margin: 0;
}
body .menu .content_menu menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  border: 1px solid #000;
  background: #ffffff;
  color: #0000 !important;
  margin: 0 0.2rem;
  cursor: pointer;
}
body .menu .content_menu.active {
  height: 5.2rem;
}
body .content_redes {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
}
body .content_redes .contato.cmenu {
  display: flex;
  padding: 1rem;
}
body .content_redes .contato.cmenu .item.menu_item {
  margin: 0 0.5rem;
}
body .content_redes .contato.cmenu .item.menu_item svg {
  fill: #fff;
  cursor: pointer;
}
body .content_redes .contato.cmenu .item.menu_item:hover svg {
  fill: #965cff;
  transform: scale(1.04);
}
body div.main {
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  float: right;
}
body div.main > section {
  width: 100%;
  height: 100vh;
}
body div.main > section > div {
  padding: 60px;
}
body div.main > section.start {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
body div.main > section.start > img {
  position: absolute;
  top: -15px;
  left: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  filter: blur(10px) brightness(0.2);
  z-index: -1;
  box-shadow: none;
}
body div.main > section.about {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #313131;
}
body div.main > section.projects {
  background-color: #3b3b3b;
  height: max-content;
}
body div.main > section.projects > div.title {
  padding: 120px 60px 0px;
}
body div.main > section.projects h2 {
  text-align: center;
  margin-bottom: 1rem;
}
body div.main > section.projects .conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
body div.main > section.projects .conteudo > div {
  width: calc(25% - (12px + 2rem));
  border: 3px solid #333;
  margin: 3px calc(1vw - 0.2px);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  min-height: 15vw;
}
body div.main > section.projects .conteudo > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body div.main > section.projects .conteudo > div h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #515151;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
